.mc-recycle-list {
	position: relative;
	overflow-y: scroll;
}

.mc-recycle-list__pull-down {
	line-height: 60rpx;
	font-size: 12rpx;
}

.mc-recycle-list__scroll {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60rpx;
	text {
		color: #333;
		line-height: 60rpx;
		font-size: 24rpx;
	}
}

.mc-recycle-list__pull-down {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60rpx;
	&.is-transition {
		transition: height .3s ease
	}
	text {
		color: #333;
		line-height: 60rpx;
		font-size: 24rpx;
	}
}
