function isVNodes(v) {
	return v && (typeof v === 'string' || v.constructor === 'Array');
}

function isArray(v) {
	return v && (v.constructor === 'Array');
}

function hasFixed(v) {
	return v.some(function(i) {
		return i.fixed === 'left'
	})
}

function hasRightFixed(v) {
	return v.some(function(i) {
		return i.fixed === 'right'
	})
}

module.exports = {
	isVNodes: isVNodes,
	isArray: isArray,
	hasFixed: hasFixed,
	hasRightFixed: hasRightFixed
};
