// 边框颜色重置
$border-color: #e8e8e8;
$white: #ffffff;
$red: #ff3c4a;
$dark-red: #d9333f;
$money-red: #f73d61;
$dot-red: #ff9a9a;
$light-red: #ff5763;
$bold-red: #f73d61;
$water-red: #ec6067;
$pink-red: #ffebed;

$orange: #ff6a31;
$bean-orange: #fa8300;
$date-orange: #fe5f4b;
$light-orange: #fcf4d2;
$dark-orange: #f6a742;

$main: #5495f6;
$blue: #4787f2;
$bg-blue: rgba(71, 135, 242, 0.1);
$link-blue: #108de7;
$dark-blue: #090d45;
$light-gray: #88828e;

$deep-purple: #9149ea;
$purple: #6d6bc6;
$purple1: #985ecf;
$purple-blue: #584f60;
$dark-purple-blue : #3d3346;
$light-purple-blue : #4f4459;
$forbid-purple-blue : #a7a1ac;

$gold: #f4c78b;
$dark-gold: #a46e3f;
$gold-yellow: #cfa972;
$bright-gold: #f8c74d;
$vip-gold: #775629;
$d7a35d: #d7a35d;
$e3b169: #e3b169;
$FF9903: #ff9903;

$coupon-pink: #fbedea;
$reward-pink: #fcefec;
$tinge-pink: #fff8f4;
$pink: #ffeeef;

$light-white: #fbfbfb;

$green: #26be76;
$dark-green: #22a265;
$light-green: #26be767f;
$lighter-green: #e9f8f1;
$forbid-green: #92deba;
$gradient-purple: #7564c5;
$gradient-blue: #88a9f4;

$black: #000;
$ce3: #cecece;
$ce8: #e8e8e8;
$ccd: #cdcdcd;
$cbb: #bbb;
$cbbb: #bbbbbb;
$c333: #333333;
$c666: #666;
$c888: #888;
$c999: #999;
$cccc: #ccc;
$c2b: #2b2b2b;
$c3e5: #e5e5e5;
$c3f2: #f2f2f2;
$cf0: #f0f0f0;
$c82: #828282;
$c86: #868686;
$cf2: #f2f2f2;
$cf9: #f9f9f9;
$c82: #828282;
$cf8:#F8F8F8;
$cf5: #f5f5f5;
$c0b03: #0b0306;
$bg-black: #3f444b;
$title-black: #2a2825;
$grey: #F9F7FA;
$fa: #fafafa;
$cf9: #f9f9f9;
$linear: 140deg, $red 0%, $red 5.26%, $white 5.26%, $white 10.52%, $blue 10.52%, $blue 15.78%, $white 15.78%, $white 21.04%;
