.count-down {
    display: flex;
    align-items: center;
    font-size: 28rpx;
}
.count-down ._count {
    border: 1px solid #d3171a;
    border-radius: 7rpx;
    color: #d3171a;
    text-align: center;
    width: 48rpx;
    height: 48rpx;
    line-height: 48rpx;
    box-sizing: border-box;
    font-size: 26rpx;
    display: inline-block;
}
.count-down ._unit {
    margin: 0 10rpx;
    color: #d3171a;
}